body{
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: rgb(248,248,248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    min-width: 320px;
    max-width: 960px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

/* Блок шапки */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    z-index: 100;

    background-color: #4a76a8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 6px 6px;

    width: 100%;
    height: 36px;
    top: 0;
}


.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px;
    font-size: 16px;
    color: white;
}

.header__title {
    flex-grow: 1;
}

.header__action {
    color: rgb(202, 202, 202);
    cursor: pointer;
    user-select: none;
    transition: .2s;
}

.header__action:hover {
    color: rgb(228, 228, 228);
}

.top-profile {
    position: relative;
    height: 100%;
    margin-left: 10px;
}

.top-profile__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding-left: 10px;
    transition: .2s;
}

.top-profile__header:hover {
    background-color: rgba(0, 0, 0, .2);
}

.top-profile__name {
    padding-right: 10px;
}

.top-profile__img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 8px;
}

.top-profile__img_round {
    border-radius: 50%;
}

.top-profile__menu {
    width: 24px;
    text-align: center;
}

.top-profile__menu-list {
    position: absolute;
    top: 101%;
    right: 0;
    min-width: 96px;

    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid lightgray;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.top-profile__menu-list_hide {
    display: none;
}

.top-profile__item {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.top-profile__item:hover {
    background-color: #e7e8ec;
}

/* Блок контента страницы */
.content_profile {
    display: grid;
    grid-column-gap: 8px;
    width: calc(100% - 8px);
    margin: 0 auto;
    grid-template-columns: 66% 33%;
}

.content__left {
    grid-column: 1;
}

.content__right {
    grid-column: 2;
}

.content__block {
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    margin: 8px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

/* Блок профиля */
.profile {
    display: flex;
    flex-direction: column;
}

.profile__title {
    margin: 16px 0;
    font-size: 2em;
}

.profile__title_nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__info {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
    margin: 16px 0;
}

.profile__info_hide {
    display: none;
}

.profile__info_short {
    margin: 0 0 16px 0;
}

.profile__more {
    cursor: pointer;
    color: #4a76a8;
    user-select: none;
    transition: .2s;
}

.profile__more:hover {
    color: #395a80;
}

.profile__description {
    grid-column: 1 / 3;
    margin: 0 0 16px;
}

.profile__label,
.profile__value {
    margin: .5em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__label {
    columns: 1;
    color: rgb(172, 172, 172);
}

.profile__value {
    columns: 2;
    line-height: 1.2;
}

.profile__value_input,
.profile__description_input {
    border: 1px solid darkblue;
    border-radius: 2px;
    padding: 4px;
}

.profile__description_input {
    resize: none;
    height: auto;
    padding: 8px 4px;
}

/* Блок галереи */
.profile-photos {
    min-height: 144px;
}

.profile-photos__title {
    font-size: 1.2em;
    cursor: pointer;
}

.profile-photos__title:hover {
    text-decoration: underline;
}

.profile-photos__content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile-photos__photo {
    height: 144px;
    width: 144px;
    margin: 0 2px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

.profile-photos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Блок фото */
.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.profile-photo__photo {
    max-width: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;  
}

.profile-photo__img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.profile-photo__loader {
    opacity: 0;
    position: absolute;
    margin-top: -14px;
    transition: .4s;
}

.profile-photo:hover .profile-photo__loader {
    opacity: 1;
}

.profile-photo__label-file {
    display: block;
    box-sizing: border-box;
    padding: 8px 16px;
    color: white;
    background-color: #4a76a8;
    border-radius: 16px;
    cursor: pointer;  
}

.profile-photo__label-file:hover {
    background-color: #395a80;
}

.profile-photo__photo-file {
    display: none;
}
/* Блок навигации */
.profile-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile-navigation {
        grid-template-columns: 1fr 1fr;
    }
}

.profile-navigation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: rgb(29, 29, 29);
    text-decoration: none;
    cursor: pointer;
}

.profile-navigation__img {
    width: 32px;
    height: 32px;
}

.profile-navigation__img {
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    transition: .2s;
}

.profile-navigation__item:hover .profile-navigation__img {
    background-color: rgb(224, 224, 224);
}

.profile-navigation__item-name {
    margin: 8px 0 16px;
    font-size: .9em;
}

/* Блок сообщений */
.profile-messages,
.profile-messages__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-messages__title,
.message__date {
    color: rgb(172, 172, 172);
}

.profile-messages__title {
    align-self: start;
    margin-bottom: 8px;
}

.message {
    position: relative;
    display: grid;
    grid-column-gap: 8px;
    width: 100%;
    grid-template-columns: 34px 3fr 1fr;
    margin: 8px 0;
}

.message:not(:last-child)::after {
    content: '';
    height: 1px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    width: 100%;
    bottom: -8px;
}

.message__author,
.message__date,
.message__text {
    font-size: .9em;
    margin: 0;
}


.message__author,
.message__date {
    grid-column: 2;
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message__author {
    color: #4a76a8;
    cursor: pointer;
}

.message__date {
    grid-column: 3;
    justify-self: right;
}

.message__photo {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 32px;
    height: 32px;
    cursor: pointer;
    overflow: hidden;
}

.message__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.message__photo_round {
    border-radius: 50%;
    border: 1px solid rgb(182, 182, 182);
}

.message__content {
    grid-row: 2;
    grid-column: 2 / 4;
    margin-top: .3em;
}


/* Блок поста */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.post__header {
    display: grid;
    grid-column-gap: 16px;
    align-items: center;
    width: 100%;
    grid-template-columns: 48px 1fr 24px;
}

.post__image {
    grid-column: 1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post__author,
.post__date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2px 0;
}

.post__author {
    color: #4a76a8;
}

.post__date {
    font-size: .8em;
    color: rgb(114, 114, 114);
}

.post__delete {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.post__content {
    width: 100%;
    line-height: normal;
}

/* Прикрепленные изображения (эскизы) */
.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
}

.thumbnails__thumb {
    border-radius: 4px;
    max-width: 100%;
    margin: 2px;
    flex-shrink: 1;
}

.thumbnails__thumb-img {
    width: 100%;
    height: 100%;
    min-height: 120px;
    object-fit: cover;
}

/* Всплывающие окна */
.stack-popup {
    align-self: flex-start;
    z-index: 10000;
    overflow: hidden;
    position: absolute;
}

.popup {
    position: absolute;
}

/* Окно просмотра изображения */
.popup_view-photo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.popup_view-photo .popup__background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
}

.popup_view-photo .popup__background_left,
.popup_view-photo .popup__background_right {
    align-self: flex-start;
    width: 50vw;
    cursor: pointer;
}

.popup_view-photo .popup__background_right {
    left: 50vw;
}

.popup_view-photo .popup__background:hover .popup__navigation {
    color: white;
}

.popup_view-photo .popup__navigation_back,
.popup_view-photo .popup__navigation_next {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    top: calc(50vh - 18px);
    transition: .3s;

    /* До нахождения иконки */
    font-size: 2em;
}

.popup_view-photo .popup__navigation_back {
    left: 3vw;
}

.popup_view-photo .popup__navigation_next {
    right: 3vw;
}

.popup__close {
    cursor: pointer;
}

.popup__close::before {
    content: 'X';
    font-size: 1.4em;
    font-weight: 400;
    transition: .3s;
}

.popup_view-photo .popup__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2em;
    color: rgba(255, 255, 255, .5);
}

.popup_view-photo .popup__close:hover {
    color: white;
}

.popup_view-photo .popup__content {
    position: relative;
    box-shadow: none;
    margin: 0;
    max-width: 70%;
    max-height: 70%;

    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}


.popup__image {
    width: 100%;
    height: 100%;
}

.popup__img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

/* Блок авторизации */
.content_auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.auth {
    padding: 32px;
    min-width: 300px;
}

.auth__title {
    font-size: 2em;
}

.auth__content {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    margin: 32px 0 0;
}

.auth__content_registration {
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

.auth__label {
    grid-column: 1;
}

.auth__login,
.auth__password,
.auth__name {
    grid-column: 2;
    margin: 8px 0;
    padding: 4px;

    border: 1px solid #395a80;
    border-radius: 2px;
}

.auth__buttons {
    align-self: flex-end;
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.auth__sign {
    text-align: center;
    width: 96px;

    padding: .5em 1em;
    border: 1px solid #4a76a8;
    border-radius: 24px;

    transition: .3s;
    cursor: pointer;
    user-select: none;
    box-sizing: content-box;
    background-color: #4a76a8;
    color: white;
}

.auth__sign:hover {
    background-color: #406590;
}

.auth__sign:active,
.auth__sign:focus {
    outline: none;
}

.auth__mode {
    cursor: pointer;
    text-decoration: underline;
}

/* Страница сообщений */
.content_messages {
    position: relative;
    width: 100%;
}

.messages {
    font-size: 16px;
    height: 90vh;
    width: inherit;
    max-width: 960px;
    min-width: 600px;
    box-sizing: border-box;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messages__back {
    padding: 8px 16px;
    color: #4a76a8;

    cursor: pointer;
    user-select: none;
    text-decoration: none;
    
}

.messages__back:hover {
    color: #335174;
}

.messages__title {
    font-size: 2em;
    font-weight: 600;
    padding: 8px 0 16px;
    margin: 0 16px;
}

.messages__content {
    width: 100%;
    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-wrap: nowrap;
}

.messages__user-list {
    flex-grow: 1;
    max-width: 34%;
    margin: 0 16px;
    overflow-y: auto;

    border: 1px solid #e7e8ec;
    border-radius: 4px;
}

.messages .user {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: 16px 0;
    cursor: pointer;
}

.messages .user:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: calc(100% - 70px);
    left: 64px;
    height: 1px;
    background-color: #e7e8ec;
}

.messages .user:hover {
    background-color: #e7e8ec;
}

.messages .user__photo {
    width: 36px;
    height: 36px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 50%;

    margin: 0 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.messages .user__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messages .user__name {
    flex-grow: 1;
}


.messages__chat {
    flex-grow: 2;
    max-width: 66%;
    margin: 0 16px;

    display: flex;
    flex-direction: column;
}

.messages__message-list {
    flex-grow: 1;
    overflow-y: auto;
    
    border: 1px solid #e7e8ec;
    border-radius: 4px;

    display: flex;
    flex-direction: column-reverse;
}

.messages .message {
    padding : 8px;
    box-sizing: border-box;
}

.messages .message:not(:last-child)::after {
    height: 0;
}

.messages__more {
    cursor: pointer;
    height: 2em;
    text-align: center;
    padding: 16px 0;
    margin-top: 4em;
}

.messages__more:hover {
    background-color: #e7e8ec;
}

.messages__form {
    display: flex;
    padding: 16px 0;

}

.messages__textarea {
    flex-grow: 1;
    border-radius: 2px;

    padding: 8px 4px;
    border: 1px solid #395a80;
    border-radius: 2px;
    resize: none;
}

.messages__send {
    flex-shrink: 0;
    margin-left: 16px;
    box-sizing: content-box;

    background-color: #4a76a8;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;
}

.messages__send:hover {
    background-color: #406590;
}

.messages__send:active {
    outline: none;
}

.messages__send:disabled {
    background-color: rgb(170, 170, 170);
}

/* Блок модального окна галереи */
.popup_gallery {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.popup_gallery .popup__background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
}

.popup_gallery .popup__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2em;
    color: rgba(255, 255, 255, .5);
}

.popup_gallery .popup__close:hover {
    color: white;
}

.popup_gallery .popup__title {
    margin: 16px 8px;
    font-size: 2em;
}

.popup_gallery .popup__photo-loader {
    display: flex;
    margin: 8px;
}

.popup_gallery .popup__label-file {
    padding: 8px 16px;
    color: white;
    background-color: #4a76a8;
    border-radius: 16px;
    cursor: pointer;

    transition: .2s;
}

.popup_gallery .popup__label-file:hover {
    background-color: #395a80;
}

.popup_gallery .popup__photo-file {
    display: none;
}

.popup_gallery .popup__content {
    position: fixed;
    box-shadow: none;
    margin: 0;
    width: 600px;
    height: 90%;

    overflow: auto;
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
.popup_gallery .popup__photos {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.popup_gallery .popup__image {
    margin: 16px 8px;
    width: 176px;
    height: 176px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.popup_gallery .popup__delete-photo {
    position: absolute;
    color: white;
    background-color: #4a76a8;
    border-radius: 2px;

    text-align: center;
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;

    top: 2px;
    right: 2px;
    transition: .2s;
    display: none;
}

.popup_gallery .popup__delete-photo:hover {
    background-color: #406590;
}

.popup_gallery .popup__image:hover .popup__delete-photo {
    display: block;
}

.popup_gallery .popup__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}